# print function

In [10]:
print (100)

100

In [11]:
print(777)

777

In [12]:
print ("hello python")

hello python

 # Types of value
    - numeric value
    - whole numbers ( integers) (python) >>> (int)
    - example 2,3,4,5,6,6,7, 444 , 64533 , 9474 , -778 , -886
    - decimals numbers (decimals) (python) >>> (float)
    - alphabets:
           - characters/word/sentence/paragraph (string) python (str)
           examples : "hello word"
                        "1000"
                        'hello'
                        '100'
                        '''1000'''
                        '''hello python'''
    - boolean values:
     true/false python (True/False)

In [13]:
print (500)

500

In [14]:
print(56.6)

56.6

In [15]:
print(True)

True

In [16]:
print('''1000''')

1000

In [18]:
print("""hi python
how r u

""")

hi python
how r u

# function()

In [19]:
type(67)

int

In [20]:
type("pakistan")

str

In [21]:
type(True)

bool

In [22]:
type(44.6)

float

 print()
shift tap at the center of circle
Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush

In [26]:
print ("babar" , "malik" , 787 , 76.0 , True , False , """how r u 
python""")

babar malik 787 76.0 True False how r u
python

In [30]:
print ("babar" , "malik" , 787 , 76.0 , True , False , """how r u python""", sep=" +++")

babar +++malik +++787 +++76.0 +++True +++False +++how r u python

In [32]:
print ("babar" , "malik" , 787 , 76.0 , True , False , """how r u python""", sep="___")

babar___malik___787___76.0___True___False___how r u python

# Escape characters in python

In [37]:
print (" I am a student of python. \n i am learning python\t from SMIT")

 I am a student of python.
 i am learning python	 from SMIT

In [40]:
print (" I am a student of python.",end="") 
print   (" I am learning python from SMIT", end="t")
print   (" I am learning python from Sir Nasir hussain")

 I am a student of python. I am learning python from SMITt I am learning python from Sir Nasir hussain

# Variables in python
  - variables also called indentifiers
  - variables also containers/reservoirs to store values

In [44]:
marks = 90
marks

90

In [45]:
id(marks)

140724187090504

In [46]:
type(marks)

int

In [49]:
name = "babar"
print(name)

babar

In [51]:
marks + 10

100

In [53]:
marks - 10

80

In [56]:
marks1=marks+100
marks1

390

In [57]:
per = 65

In [58]:
marks + per

355

# operators
  - (+) addition
  - (+) concatenation
  - (-) subtract
  - (*) multiplay
  - (/) divide (Integer Division)
  - (//) divide (Floating division)
  - (%) modulous (reminder in a division)
  - (>) (greater than)
  - (<)(less than)
  - (>=) (grater than equal to)
  - (<=) (less than equal to)
  - (==) (equal to)
  - (!=) (not equal to)

In [59]:
3 + 4

7

In [60]:
10-4

6

In [61]:
20*4

80

In [62]:
10/10  # result is float value

1.0

In [64]:
10//10 # integer division

1

In [66]:
15%4

3

In [67]:
12>13

False

In [68]:
12<13

True

In [69]:
12>=13

False

In [70]:
12<=13

True

In [73]:
name = input("Enter your name:")
y_o_b= input("Enter your year of birth:")
print ("your name is "+name+ "and your year of birth is " +y_o_b)

Enter your name: babar
Enter your year of birth: 1999

your name is babarand your year of birth is 1999

In [74]:
student= input("Enter your name:")
age = int(input("Enter your age:"))

Enter your name: fahad
Enter your age: 50

In [76]:
age+10

60

In [78]:
age1= int(input("Enter your age:"))

Enter your age: 40.5

ValueError: invalid literal for int() with base 10: '40.5'

In [79]:
age1= float(input("Enter your age:"))

Enter your age: 40.5

In [82]:
name = (input("Enter your name:"))
y_o_b= int(input("Enter your year of birth:"))
print ("your name is "+name+ "and your year of birth is " +str(y_o_b))

Enter your name: babar
Enter your year of birth: 1999

your name is babarand your year of birth is 1999

# string formation
  - format (value1 , value2,...)
  - it is easier , simpler than concetenation
  - it don't need type casting

In [90]:
name = input("Enter your name:")
y_o_b= int(input("Enter your year of birth:"))
print ("your name is {} and your year of birth is{} ".format(name,y_o_b))
# place holders {}

Enter your name: babar
Enter your year of birth: 1999

your name is babar and your year of birth is1999

In [86]:
"B{}ba{}".format("a","r")

'Babar'

# string format by f

In [93]:
name = input("Enter your name:")
y_o_b= int(input("Enter your year of birth:"))
print (f"your name is {name} and your year of birth is{y_o_b} ")

Enter your name: babar
Enter your year of birth: 1999

your name is babar and your year of birth is1999

# string

In [95]:
student = "malik"
student

'malik'

In [96]:
student.capitalize()

'Malik'

In [97]:
student.casefold()

'malik'

In [101]:
student.upper()

'MALIK'

In [103]:
student.count("a ")

0

In [2]:
ins = "saylani mass information telecomunication"
#      01234567890123456789012345678901234567890

In [3]:
ins[6]

'i'

In [4]:
ins[-22]

'a'

In [5]:
ins.find('z')

-1

In [6]:
ins.find("i")

6

In [10]:
ins.find("i",7)

13

In [15]:
ins.endswith("t")

False

In [16]:
ins.lstrip()

'saylani mass information telecomunication'

In [17]:
len("pakistan  ")

10

In [18]:
'  pakistan'.lstrip()

'pakistan'

In [19]:
'pakistan   '.rstrip()

'pakistan'

In [20]:
'   pakistan  '.strip()

'pakistan'

In [21]:
ins

'saylani mass information telecomunication'

In [22]:
ins[0]

's'

In [24]:
ins[0]="S"
# immutable

TypeError: 'str' object does not support item assignment

In [25]:
ins= ins.capitalize()

In [26]:
ins

'Saylani mass information telecomunication'

In [ ]:
# If statments 
   - running a block of code specific condition is satisfied
   -

In [27]:
age = int(input("Enter age"))
if age> 18:
    print("young")

Enter age 23

young

In [29]:
tomato_price = int(input("Tamatar kia hisab hain"))
if tomato_price <50:
    print("give me 5kg")

Tamatar kia hisab hain 51

Else block

In [31]:
tomato_price = int(input("Tamatar kia hisab hain"))
if tomato_price <50:
    print("give me 5kg")
else:
    print("2 kg")

Tamatar kia hisab hain 60

2 kg